@media screen and (min-width: 520px) and (max-width: 1100px) {
  html {
    font-size: 62.5%;
  }
  html body {
    width: 100vw;
    height: 100vh;
    background-color: #faf5e4;
    position: relative;
    -webkit-text-size-adjust: 100%;
  }
  html body header {
    width: 100vw;
    height: 10%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #f8b400;
  }
  html body header p {
    margin: 0;
    font-size: 2rem;
    font-weight: bold;
  }
  html body .family_name {
    padding-top: 1.3rem;
    padding-left: 2rem;
    font-size: 1.6rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  html body .family_name p {
    margin: 0;
  }
  html body .calendar {
    width: 90vw;
    height: 40vh;
    margin: 0 auto;
  }
  html body .calendar .title {
    width: 100%;
    height: 10%;
    margin-bottom: 15px;
    font-size: 1.5rem;
    text-align: center;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  html body .calendar .title a {
    margin-left: 10px;
    margin-right: 10px;
    color: #2c786c;
  }
  html body .calendar .table {
    width: 100%;
    height: 70%;
  }
  html body .calendar .table a {
    color: #000;
  }
  html body .calendar .table th {
    width: 1rem;
    height: 1rem;
    padding: .50rem;
    line-height: 1;
    text-align: center;
  }
  html body .calendar .table td {
    width: 1rem;
    height: 1.5rem;
    padding: .50rem;
    line-height: 1;
  }
  html body .calendar .table .today {
    background: orange;
  }
  html body .calendar .table th:nth-of-type(1) {
    color: red;
  }
  html body .calendar .table th:nth-of-type(7) {
    color: blue;
  }
  html body .this_month {
    width: 90vw;
    height: 20%;
    margin: 30px auto 0;
    font-size: 1.2rem;
    overflow: auto;
  }
  html body .this_month .expenditure {
    width: 100%;
  }
  html body .this_month .expenditure p {
    margin: 0;
    padding-left: 5px;
    line-height: 1.5rem;
  }
  html body .this_month .expenditure_name {
    width: 100%;
  }
  html body .this_month .expenditure_name p {
    margin: 0;
    padding-left: 10px;
    line-height: 1.5rem;
  }
  html body footer {
    width: 100vw;
    height: 10%;
    background-color: #f8b400;
    position: absolute;
    bottom: 0;
  }
  html body footer a {
    color: #000;
    text-decoration: none;
  }
  html body footer a div {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  html body footer a div p {
    margin: 0;
    font-size: 1.3rem;
    font-weight: 600;
  }
}
/*# sourceMappingURL=tablet_index.css.map */